body{
   margin: 0;
   min-height: 100vh;
   background: linear-gradient(to bottom,rgb(66, 76, 95), rgb(21, 21, 21));
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}
a{
  text-decoration: none;
  color: white;
}
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 8%;
}
.logo{
  color: beige;
  font-size: 40px;
  font-family: 48px;
  font-weight: bold;
}
.logo-circle{
  width: 70px;
  height: 70px;
  background: linear-gradient(rgb(69, 88, 109),blueviolet);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

.logo {
  width: 60%;
  height: 70%;
}

}
.hero-text h1 {
  font-style: italic;
  font-family: 30px;
  font-weight: bold;
  color: azure;
}
.hero-text h2 {
  font-size: 25px;
  color:rgb(48, 112, 60);
  margin: 10px 0 10px;
}
.hero-text p {
  margin-bottom: 20px;
  color: white;
}


.profile-image-3d {
  width: 200px;
  height:200px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid rgb(51, 89, 43);
}

.profile-image-3d img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav a{
  margin-left: 1200px;
  font-size: 14px;
  font-style: oblique;
}
.about{
  display: flex;
  align-items: center;
  padding: 80px 8%;
  gap: 30px;
}
.about-text h1{
  font-style: italic;
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(19, 104, 23);
}
.about-text p{
  margin-bottom: 20px;
  color: white;
  max-width: 300px;

}
.about img{
  width: 100px;
  border-radius: 30px;         
  height: auto;
}

.Services{
  text-align: center;
  padding: 80px 8%;
}
.services h2{
  text-align: center;
  font-size: 25px;
  color: blueviolet;
  margin-bottom: 5px;
  font-style: italic;
}
.service-boxs{
  margin: 150px;
  width: 100px;
  height: 100px;
  font-size: 7px;
  text-align: center;
  background-color: rgb(174, 163, 163);
  float: left;
  
}
.topic{
  text-align: center;
  direction: rtl;
  color: rgb(68, 26, 68);
  padding: 10px;
  background: rgb(197, 192, 192);
  border-radius: 50px;
  font-size: 10px;

}