*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.header_section{
    display: flex ;
    justify-content: flex-end;
    padding: 15px 30px;
}
.header_section nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 10px;
   margin-left: 100px;
}
.header_section nav ul a{
    text-decoration: none;
    color: rgb(125, 109, 109);
}
.hero_section{
    border-top: 3px solid whitesmoke;
    padding: 15px 30px;
}

.hero_section div{
 display: flex;
 justify-content: space-between;
  margin-top: 20px;
  

}
.div-1 span{
    color: aqua;
}
.hero_section .div-1{
display: inline;
}
.div-1 p{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
}
.div-1 button {
  border-radius: 70px;
  background-color: rgb(27, 27, 87);
  padding: 10px 25px;
}
.div-1 button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.image{
    width: 200px;
    height: 200px;
    border-radius:100px;
    
}