*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
.header_section{
    display: flex ;
    justify-content: flex-end;
    padding: 15px 30px;
}
.header_section nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;padding: unset;
    gap: 10px;
   margin-left: 100px;
}
.header_section nav ul a{
    text-decoration: none;
    color: rgb(125, 109, 109);
}
.hero_section{
    background-color: rgb(225, 234, 240);
    border-top: 3px solid whitesmoke;
    padding: 15px 30px;
}

.hero_section div{
 display: flex;
 justify-content: space-between;
  margin-top: 20px;
  

}
.div-1 span{
    color: aqua;
}
.hero_section .div-1{
display: inline;
}
.div-1 p{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
}
.div-1 button {
  border-radius: 70px;
  background-color: rgb(27, 27, 87);
  padding: 10px 25px;
}
.div-1 button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.image{
    width: 200px;
    height: 200px;
    border-radius:100px;
    
}
.about{
    margin-top: 50px;
  display: flex;
  font-size: medium;
  justify-content: center;
  color: black;
  font-weight: bold;
}
.me{
    font-weight: bold;
}
.my{
    font-weight: bold;
}
.paragraph{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
}
.paragraph2{
   margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
}
.about_section div{
    display: flex;
 justify-content: space-between;
  margin-top: 20px;
}
.skill{
   padding: 20px 0;
}
.skills-title{
    margin-bottom: 12px;
    font-weight: 600;
}
.skills-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 12px;
}
.skill-tag{
    padding: 6px 14px;
    background-color: rgb(63, 92, 117);
    border-radius: 9999px;
    font-size: small;
    color:azure;
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.skill-icon{
    font-size: 15px;
    margin-right: 10px;
}
.image{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}
.skill_section h2{
    display: flex;
}
.skill_section h2{
    margin-bottom: 20px;
    text-align: center;
}
}
.paragraph{
    display: flex;
    gap: 100px;
    margin-left: 10px;
}
.paragraph2{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 650px;
}

.section_Projects h3{
    margin-top: 20px;
    text-align: center;
    font-size: x-large;
    
}
.image_container{
    display: flex;
    gap: 20px;
    padding: 10px 10px;
}
.image2{
    width: 400px;
    height: auto;
}
.p3_text h5{
    margin-bottom:20px;
    margin-top: 20px;
    text-align: center;
    font-size: large;
    
}
.p3_text1{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.image3{
    width: 400px;
    height: auto;
}
.p2_text h6{
    margin-bottom:20px;
    margin-top: 20px;
    text-align: center;
    font-size: large;
    
}
.p2_text2{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.image4{
    width: 400px;
    height: auto;
}
.p1_text h1{
    margin-bottom:20px;
    margin-top: 20px;
    text-align: center;
    font-size: large;
}
.p1_text3{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
button{
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: white;
    padding: 8px 150px;
    border: 2px solid rgb(227, 225, 225);

}
button a{
   text-decoration: none;
    color: black;
    font-size: 15px;
}
.image_container1{
    display: flex;
    gap: 20px;
    padding: 10px 10px;
}
.image5{
    width: 400px;
    height: auto;
}
.p4_text h5{
    margin-bottom:20px;
    margin-top: 20px;
    text-align: center;
    font-size: large;
}
.p4_text1{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align:center;
}
.image6{
    width: 400px;
    height: auto;
}
.p55_text h6{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: larger;
    
}
.p55_text2{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.image7{
    width: 400px;
    height: auto;
}
.p6_text h1{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: large;
}
.p6_text3{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.Get_section{
    background-color: rgb(225, 234, 240);
    border-bottom: 1px solid rgb(247, 243, 243);
    padding: 20px 0;
    
}
.head{
    margin-bottom: 20px;
    margin-top:20px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
.para{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.your{
    text-align: center;
}
.button{
    border-radius: 10px;
    background-color: white;
    padding: 8px 150px;
    border: 2px solid rgb(227, 225, 225);

}
.a{
   text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.message{
    text-align: center;
}
.send {
    margin-top: 50px;
  border-radius: 10px;
  background-color: rgb(36, 108, 216);
  padding:  10px 25px;
}
.send a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.contact-list{
    display: flex;
    gap: 20px;
    margin-top: 80px;
    margin-bottom:30px;
    justify-content: center;
}
.contact{
   display: flex;
    gap: 6px;
    
}
.last{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}